.data{
    max-height: 200px;
    margin-bottom: 30px;
}

.data .carouselSwiper .swiper-slide .image-data{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.brand
{
    margin: 150px 0px 50px;
}
.swiper brandCcarousel{
    padding: 50px;
}

.brand .swiper-slide .image-brand img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.brand-paginate  {
    position:relative;
    display:flex;
    float:right;
    padding: 30px;
    gap: 20px;
    
    
}
 .brand-next{
   font-size: 40px;
}
.brand-prev{
    font-size: 40px;
 }




   